<a href="https://colab.research.google.com/github/luisosmx/spark/blob/main/inegi_influx_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
url = 'https://datos.cdmx.gob.mx/dataset/f2046fd5-51b5-4876-b008-bd65d95f9a02/resource/0e8ffe58-28bb-4dde-afcd-e5f5b4de4ccb/download/afluenciastc_simple_01_2023.csv'
df = pd.read_csv(url, encoding='ISO-8859-1')

In [5]:
print(df.head(10))

        fecha  anio    mes    linea             estacion  afluencia
0  2010-01-01  2010  Enero  Linea 1             Zaragoza      20227
1  2010-01-01  2010  Enero  Linea 1  Isabel la CatÃ³lica       6487
2  2010-01-01  2010  Enero  Linea 1            Moctezuma      10304
3  2010-01-01  2010  Enero  Linea 1         Pino SuÃ¡rez       8679
4  2010-01-01  2010  Enero  Linea 1       GÃ³mez FarÃ­as      19499
5  2010-01-01  2010  Enero  Linea 6  Deptvo. 18 de Marzo        621
6  2010-01-01  2010  Enero  Linea 6    La Villa-Basilica      24792
7  2010-01-01  2010  Enero  Linea 9           PantitlÃ¡n      27000
8  2010-01-01  2010  Enero  Linea 8               Aculco       3652
9  2010-01-01  2010  Enero  Linea 9           VelÃ³dromo       3239

In [6]:
df = df.rename(columns={'fecha': 'date', 'anio': 'year', 'mes': 'month', 'linea': 'line', 'estacion': 'station', 'afluencia': 'influx'})

In [7]:
print(df.head(10))

         date  year  month     line              station  influx
0  2010-01-01  2010  Enero  Linea 1             Zaragoza   20227
1  2010-01-01  2010  Enero  Linea 1  Isabel la CatÃ³lica    6487
2  2010-01-01  2010  Enero  Linea 1            Moctezuma   10304
3  2010-01-01  2010  Enero  Linea 1         Pino SuÃ¡rez    8679
4  2010-01-01  2010  Enero  Linea 1       GÃ³mez FarÃ­as   19499
5  2010-01-01  2010  Enero  Linea 6  Deptvo. 18 de Marzo     621
6  2010-01-01  2010  Enero  Linea 6    La Villa-Basilica   24792
7  2010-01-01  2010  Enero  Linea 9           PantitlÃ¡n   27000
8  2010-01-01  2010  Enero  Linea 8               Aculco    3652
9  2010-01-01  2010  Enero  Linea 9           VelÃ³dromo    3239

In [8]:
line_dict = {'Linea 1': '1', 'Linea 2': '2', 'Linea 3': '3', 'Linea 4': '4', 'Linea 5': '5', 'Linea 6': '6', 'Linea 7': '7', 'Linea 8': '8', 'Linea 9': '9', 'Linea A': 'A', 'Linea B': 'B', 'Linea 12': '12'}
df['line'] = df['line'].replace(line_dict)

In [9]:
print(df.head(10))

         date  year  month line              station  influx
0  2010-01-01  2010  Enero    1             Zaragoza   20227
1  2010-01-01  2010  Enero    1  Isabel la CatÃ³lica    6487
2  2010-01-01  2010  Enero    1            Moctezuma   10304
3  2010-01-01  2010  Enero    1         Pino SuÃ¡rez    8679
4  2010-01-01  2010  Enero    1       GÃ³mez FarÃ­as   19499
5  2010-01-01  2010  Enero    6  Deptvo. 18 de Marzo     621
6  2010-01-01  2010  Enero    6    La Villa-Basilica   24792
7  2010-01-01  2010  Enero    9           PantitlÃ¡n   27000
8  2010-01-01  2010  Enero    8               Aculco    3652
9  2010-01-01  2010  Enero    9           VelÃ³dromo    3239

In [10]:
!pip install unidecode
from unidecode import unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 KB 6.2 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [11]:
df['station'] = df['station'].apply(lambda x: unidecode(x))

In [12]:
print(df.head(30))

          date  year  month line              station  influx
0   2010-01-01  2010  Enero    1             Zaragoza   20227
1   2010-01-01  2010  Enero    1  Isabel la CatA3lica    6487
2   2010-01-01  2010  Enero    1            Moctezuma   10304
3   2010-01-01  2010  Enero    1         Pino SuA!rez    8679
4   2010-01-01  2010  Enero    1        GA3mez FarAas   19499
5   2010-01-01  2010  Enero    6  Deptvo. 18 de Marzo     621
6   2010-01-01  2010  Enero    6    La Villa-Basilica   24792
7   2010-01-01  2010  Enero    9           PantitlA!n   27000
8   2010-01-01  2010  Enero    8               Aculco    3652
9   2010-01-01  2010  Enero    9           VelA3dromo    3239
10  2010-01-01  2010  Enero    5  Autobuses del Norte   16824
11  2010-01-01  2010  Enero    5            Misterios    3513
12  2010-01-01  2010  Enero    7       Constituyentes    1417
13  2010-01-01  2010  Enero    7            RefinerAa    2325
14  2010-01-01  2010  Enero    3              EtiopAa    7078
15  2010-01-01  2010  Enero    7              Polanco    6173
16  2010-01-01  2010  Enero    4      Canal del Norte    2317
17  2010-01-01  2010  Enero    4            Bondojito    2474
18  2010-01-01  2010  Enero    4          Santa Anita    1042
19  2010-01-01  2010  Enero    2              Popotla    2419
20  2010-01-01  2010  Enero    2        General Anaya    6819
21  2010-01-01  2010  Enero    3  DivisiA3n del Norte    2417
22  2010-01-01  2010  Enero    3               Zapata    7334
23  2010-01-01  2010  Enero    4        Fray Servando    2667
24  2010-01-01  2010  Enero    5             Hangares    1826
25  2010-01-01  2010  Enero    5           PantitlA!n   38694
26  2010-01-01  2010  Enero    6           El Rosario    7912
27  2010-01-01  2010  Enero    6             FerrerAa    2370
28  2010-01-01  2010  Enero    6  Inst. del PetrA3leo     362
29  2010-01-01  2010  Enero    8               Coyuya    5322

In [15]:
import datetime

# Obtener la fecha y hora actual
now = datetime.datetime.now()

# Formatear la fecha y hora actual como una cadena de caracteres
ingestion_date = now.strftime('%Y-%m-%d %H:%M:%S')

# Agregar la nueva columna al DataFrame
df['ingestion_date'] = ingestion_date

In [16]:
print(df.head(30))

          date  year  month line              station  influx  \
0   2010-01-01  2010  Enero    1             Zaragoza   20227
1   2010-01-01  2010  Enero    1  Isabel la CatA3lica    6487
2   2010-01-01  2010  Enero    1            Moctezuma   10304
3   2010-01-01  2010  Enero    1         Pino SuA!rez    8679
4   2010-01-01  2010  Enero    1        GA3mez FarAas   19499
5   2010-01-01  2010  Enero    6  Deptvo. 18 de Marzo     621
6   2010-01-01  2010  Enero    6    La Villa-Basilica   24792
7   2010-01-01  2010  Enero    9           PantitlA!n   27000
8   2010-01-01  2010  Enero    8               Aculco    3652
9   2010-01-01  2010  Enero    9           VelA3dromo    3239
10  2010-01-01  2010  Enero    5  Autobuses del Norte   16824
11  2010-01-01  2010  Enero    5            Misterios    3513
12  2010-01-01  2010  Enero    7       Constituyentes    1417
13  2010-01-01  2010  Enero    7            RefinerAa    2325
14  2010-01-01  2010  Enero    3              EtiopAa    7078
15  2010-01-01  2010  Enero    7              Polanco    6173
16  2010-01-01  2010  Enero    4      Canal del Norte    2317
17  2010-01-01  2010  Enero    4            Bondojito    2474
18  2010-01-01  2010  Enero    4          Santa Anita    1042
19  2010-01-01  2010  Enero    2              Popotla    2419
20  2010-01-01  2010  Enero    2        General Anaya    6819
21  2010-01-01  2010  Enero    3  DivisiA3n del Norte    2417
22  2010-01-01  2010  Enero    3               Zapata    7334
23  2010-01-01  2010  Enero    4        Fray Servando    2667
24  2010-01-01  2010  Enero    5             Hangares    1826
25  2010-01-01  2010  Enero    5           PantitlA!n   38694
26  2010-01-01  2010  Enero    6           El Rosario    7912
27  2010-01-01  2010  Enero    6             FerrerAa    2370
28  2010-01-01  2010  Enero    6  Inst. del PetrA3leo     362
29  2010-01-01  2010  Enero    8               Coyuya    5322

         ingestion_date
0   2023-03-08 21:06:30
1   2023-03-08 21:06:30
2   2023-03-08 21:06:30
3   2023-03-08 21:06:30
4   2023-03-08 21:06:30
5   2023-03-08 21:06:30
6   2023-03-08 21:06:30
7   2023-03-08 21:06:30
8   2023-03-08 21:06:30
9   2023-03-08 21:06:30
10  2023-03-08 21:06:30
11  2023-03-08 21:06:30
12  2023-03-08 21:06:30
13  2023-03-08 21:06:30
14  2023-03-08 21:06:30
15  2023-03-08 21:06:30
16  2023-03-08 21:06:30
17  2023-03-08 21:06:30
18  2023-03-08 21:06:30
19  2023-03-08 21:06:30
20  2023-03-08 21:06:30
21  2023-03-08 21:06:30
22  2023-03-08 21:06:30
23  2023-03-08 21:06:30
24  2023-03-08 21:06:30
25  2023-03-08 21:06:30
26  2023-03-08 21:06:30
27  2023-03-08 21:06:30
28  2023-03-08 21:06:30
29  2023-03-08 21:06:30

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931905 entries, 0 to 931904
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            931905 non-null  object
 1   year            931905 non-null  int64
 2   month           931905 non-null  object
 3   line            931905 non-null  object
 4   station         931905 non-null  object
 5   influx          931905 non-null  int64
 6   ingestion_date  931905 non-null  object
dtypes: int64(2), object(5)
memory usage: 49.8+ MB