<a href="https://colab.research.google.com/github/luisosmx/spark/blob/main/inegi_influx_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
url = 'https://datos.cdmx.gob.mx/dataset/f2046fd5-51b5-4876-b008-bd65d95f9a02/resource/0e8ffe58-28bb-4dde-afcd-e5f5b4de4ccb/download/afluenciastc_simple_01_2023.csv'
df = pd.read_csv(url, encoding='ISO-8859-1')

In [5]:
print(df.head(10))

        fecha  anio    mes    linea             estacion  afluencia
0  2010-01-01  2010  Enero  Linea 1             Zaragoza      20227
1  2010-01-01  2010  Enero  Linea 1  Isabel la CatÃ³lica       6487
2  2010-01-01  2010  Enero  Linea 1            Moctezuma      10304
3  2010-01-01  2010  Enero  Linea 1         Pino SuÃ¡rez       8679
4  2010-01-01  2010  Enero  Linea 1       GÃ³mez FarÃ­as      19499
5  2010-01-01  2010  Enero  Linea 6  Deptvo. 18 de Marzo        621
6  2010-01-01  2010  Enero  Linea 6    La Villa-Basilica      24792
7  2010-01-01  2010  Enero  Linea 9           PantitlÃ¡n      27000
8  2010-01-01  2010  Enero  Linea 8               Aculco       3652
9  2010-01-01  2010  Enero  Linea 9           VelÃ³dromo       3239

In [6]:
df = df.rename(columns={'fecha': 'date', 'anio': 'year', 'mes': 'month', 'linea': 'line', 'estacion': 'station', 'afluencia': 'influx'})

In [7]:
print(df.head(10))

         date  year  month     line              station  influx
0  2010-01-01  2010  Enero  Linea 1             Zaragoza   20227
1  2010-01-01  2010  Enero  Linea 1  Isabel la CatÃ³lica    6487
2  2010-01-01  2010  Enero  Linea 1            Moctezuma   10304
3  2010-01-01  2010  Enero  Linea 1         Pino SuÃ¡rez    8679
4  2010-01-01  2010  Enero  Linea 1       GÃ³mez FarÃ­as   19499
5  2010-01-01  2010  Enero  Linea 6  Deptvo. 18 de Marzo     621
6  2010-01-01  2010  Enero  Linea 6    La Villa-Basilica   24792
7  2010-01-01  2010  Enero  Linea 9           PantitlÃ¡n   27000
8  2010-01-01  2010  Enero  Linea 8               Aculco    3652
9  2010-01-01  2010  Enero  Linea 9           VelÃ³dromo    3239

In [8]:
line_dict = {'Linea 1': '1', 'Linea 2': '2', 'Linea 3': '3', 'Linea 4': '4', 'Linea 5': '5', 'Linea 6': '6', 'Linea 7': '7', 'Linea 8': '8', 'Linea 9': '9', 'Linea A': 'A', 'Linea B': 'B', 'Linea 12': '12'}
df['line'] = df['line'].replace(line_dict)

In [9]:
print(df.head(10))

         date  year  month line              station  influx
0  2010-01-01  2010  Enero    1             Zaragoza   20227
1  2010-01-01  2010  Enero    1  Isabel la CatÃ³lica    6487
2  2010-01-01  2010  Enero    1            Moctezuma   10304
3  2010-01-01  2010  Enero    1         Pino SuÃ¡rez    8679
4  2010-01-01  2010  Enero    1       GÃ³mez FarÃ­as   19499
5  2010-01-01  2010  Enero    6  Deptvo. 18 de Marzo     621
6  2010-01-01  2010  Enero    6    La Villa-Basilica   24792
7  2010-01-01  2010  Enero    9           PantitlÃ¡n   27000
8  2010-01-01  2010  Enero    8               Aculco    3652
9  2010-01-01  2010  Enero    9           VelÃ³dromo    3239